<div>
	<div id="rfidlist">
		<ul class="playlist">
			<!--<li class="pl-entry">&lt; Not Assigned &gt;<span>Tag_name - 02:30:52:51:89:A2</span></li>-->
		</ul>
	</div>
	<div class="btnlist btnlist-bottom">
		<form>
			<p><button class="btn btn-large btn-primary" type="submit" name="updaterfid" value="1" id="updaterfiddb"><i class="fa fa-refresh sx"></i>Refresh</button></p>
		</form>
	</div>
</div>

<div id="context-menus">
	<div id="context-menu-rfid" class="context-menu">
		<ul class="dropdown-menu" role="menu">
			<li><a href="#notarget" data-cmd="add"><i class="fa fa-plus sx"></i> Add</a></li>
			<li><a href="#notarget" data-cmd="addplay"><i class="fa fa-play sx"></i> Add and play</a></li>
			<li><a href="#notarget" data-cmd="addreplaceplay"><i class="fa fa-share sx"></i> Add, replace and play</a></li>
			<li><a href="#notarget" data-cmd="update"><i class="fa fa-refresh sx"></i> Update this folder</a></li>
		</ul>
	</div>
</div>
