<div class="container credits">
	<h1>RFID tags</h1>
	<form>
		<p><button class="btn btn-large btn-primary" type="submit" name="updatempd" value="1" id="updatempddb"><i class="fa fa-refresh sx"></i>Refresh</button></p>
	</form>
	
	<div class="tile txtsx">
		<div id="rfidlist">
			<ul class="playlist">
				<!--<li class="pl-entry">&lt; Not Assigned &gt;<span>Tag_name - 02:30:52:51:89:A2</span></span></li>-->
			</ul>
		</div>
		<div class="btnlist btnlist-bottom">
			<div id="rf-controls">
				<button id="rf-debug-btn" class="btn hide"><i class="fa fa-random"></i></button>
				<button class="btn rf-firstPage"><i class="fa fa-angle-double-up"></i></button>
				<button class="btn rf-lastPage"><i class="fa fa-angle-double-down"></i></button>
			</div>
		</div>
	</div>
</div>
